<ion-header>
  <h1 class="ion-text-center">Choose first character</h1>
</ion-header>
<ion-content color="light" class="ion-no-padding">
  <div class="ion-padding vertical-align-content" >
    <ion-grid>
      <ion-row class="ion-align-items-end">
        <ion-col (click)="chooseChar('A')">A</ion-col>
        <ion-col (click)="chooseChar('B')">B</ion-col>
        <ion-col (click)="chooseChar('B')">C</ion-col>
        <ion-col (click)="chooseChar('C')">D</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('E')">E</ion-col>
        <ion-col (click)="chooseChar('F')">F</ion-col>
        <ion-col (click)="chooseChar('G')">G</ion-col>
        <ion-col (click)="chooseChar('H')">H</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('I')">I</ion-col>
        <ion-col (click)="chooseChar('J')">J</ion-col>
        <ion-col (click)="chooseChar('K')">K</ion-col>
        <ion-col (click)="chooseChar('L')">L</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('M')">M</ion-col>
        <ion-col (click)="chooseChar('N')">N</ion-col>
        <ion-col (click)="chooseChar('O')">O</ion-col>
        <ion-col (click)="chooseChar('P')">P</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('R')">R</ion-col>
        <ion-col (click)="chooseChar('S')">S</ion-col>
        <ion-col (click)="chooseChar('T')">T</ion-col>
        <ion-col (click)="chooseChar('U')">U</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('V')">V</ion-col>
        <ion-col (click)="chooseChar('W')">W</ion-col>
        <ion-col (click)="chooseChar('X')">X</ion-col>
        <ion-col (click)="chooseChar('Y')">Y</ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="chooseChar('Z')">Z</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
